.tooltip {
    position: absolute;
    padding: 10px 16px;
    border-radius: 6px;
    left: 50%;
    margin-top: 4px;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: var(--color-snackbar-text);
    font-weight: 600;
    font-style: normal;
    font-size: 10pt;
    box-shadow: 0 0 8px var(--color-snackbar-bg);
    z-index: 250;
    white-space: nowrap;
    animation: tooltip-show 0.3s;
    transition: opacity 0.3s;
}

.tooltip__container {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

@keyframes tooltip-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}