:root {
    --color-background: #20232a;
    /*background: rgb(32, 35, 42)*/
    --color-background-secondary: #282c34;
    /*background-secondary: rgb(40, 44, 52)*/
    --color-main: #fff;
    --color-accent: #61dafb;
    /*accent: rgb(97, 218, 251)*/

    --color-snackbar-text: #fff;
    --color-snackbar-bg: #000;
    --color-red: #cc0000;
    --color-light-red: #FF9494;
    --font: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background: var(--color-background);
    font-family: var(--font);
}

i {
    user-select: none;
}

.number {
    font-family: Arial;
}