:root {
    --color-background: #20232a;
    /*background: rgb(32, 35, 42)*/
    --color-background-0: rgba(32, 35, 42, 0);
    --color-background-secondary: #282c34;
    /*background-secondary: rgb(40, 44, 52)*/
    --color-main: #fff;
    --color-accent: #61dafb;
    /*accent: rgb(97, 218, 251)*/
    --color-accent-0: rgba(97, 218, 251, 0);
    --color-accent-50: rgba(97, 218, 251, 0.5);
    --color-accent-70: rgba(97, 218, 251, 0.7);
    --color-accent-80: rgba(97, 218, 251, 0.8);
    --color-input-items: var(--color-background-secondary);
    --color-card-light: rgba(97, 218, 251, 0.2);
    --color-header-shadow: 0 2px 8px var(--color-background);
    --color-button-text: var(--color-main);
    --color-switcher-bg: rgba(0, 0, 0, 0.5);
    --color-contact-item: rgba(255, 255, 255, 0.08);
    --color-contact-hover: rgba(255, 255, 255, 0.1);

    --color-snackbar-text: #fff;
    --color-snackbar-bg: #000;
    --color-red: #cc0000;
    --color-light-red: #FF9494;
    --font: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background: var(--color-background);
    font-family: var(--font);
}

i {
    user-select: none;
    padding-bottom: 4px;
}

.number {
    font-family: Arial;
}